@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

body {
  overflow: hidden;
}

h1 {
  font-size: 100px !important;
}

.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hide {
  display: none;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Para que se superponga sobre el contenido */
}

#button {
  z-index: 1001; /* Para que se superponga sobre la capa de fondo negro */
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 2.5rem;
  color: white;
  background: rgb(240, 0, 60);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

#button:hover {
  filter: brightness(110%);
}

#button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  -webkit-box-shadow: 0px 0px 22px 0px rgba(240, 0, 60, 1);
  -moz-box-shadow: 0px 0px 22px 0px rgba(240, 0, 60, 1);
  box-shadow: 0px 0px 22px 0px rgba(240, 0, 60, 1);
}

#button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

#button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

#button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

#button:focus:not(:focus-visible) {
  outline: none;
}
